<div class="container-fluid">
    <div class="container d-flex flex-row align-items-center py-1">
        <div class="mr-1">
            <p class="mb-0">abc@gmail.com</p>
        </div>
        <div>
            <p class="mb-0">|</p>
        </div>
        <div class="ml-1">
            <p class="mb-0">+91-9999999999</p>
        </div>
        <div class="ml-auto">
            <i-feather class="mx-2" name="facebook"></i-feather>
            <i-feather class="mx-2" name="instagram"></i-feather>
            <i-feather class="mx-2" name="twitter"></i-feather>
            <i-feather class="mx-2" name="linkedin"></i-feather>
        </div>
    </div>
</div>