<div class="container-fluid d-flex flex-column justify-content-center align-items-center p-5">
    <div class="d-flex flex-row w-100">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <hr class="horizontal"/>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <ul>
                        <li class="h5">About Us</li>
                        <li class="h5">Services</li>
                        <li class="h5">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="row">
                <div class="col">
                    <p class="h3">ADS-Cargo</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <i-feather class="icons" name="facebook"></i-feather>
                </div>
                <div class="col-3">
                    <i-feather class="icons" name="instagram"></i-feather>
                </div>
                <div class="col-3">
                    <i-feather class="icons" name="twitter"></i-feather>
                </div>
                <div class="col-3">
                    <i-feather class="icons" name="linkedin"></i-feather>
                </div>
            </div>
            <div class="row mt-4 vertical-wrapper">
                <hr class="vertical"/>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <hr class="horizontal"/>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <ul>
                        <li class="h5">Air Freight</li>
                        <li class="h5">Ocean Freight</li>
                        <li class="h5">Transport Service</li>
                        <li class="h5">Warehousing Service</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <p>Designed by Anshum Gill</p>
    </div>
</div>