<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <p class="h3">Services Offered by Us</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-4 mx-md-0 my-5">
            <div class="card shadow">
                <div class="card-img-top">
                    <i-feather name="circle" class="boundary"></i-feather>
                    <i-feather name="send" class="icons"></i-feather>
                </div>
                <div class="card-body text-center">
                    <p class="card-title h4">Air Freight</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-10 mx-auto col-md-4 mx-md-0 my-5">
            <div class="card shadow">
                <div class="card-img-top">
                    <i-feather name="circle" class="boundary"></i-feather>
                    <i-feather name="globe" class="icons"></i-feather>
                </div>
                <div class="card-body text-center">
                    <p class="card-title h4">Ocean Freight</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-10 mx-auto col-md-4 mx-md-0 my-5">
            <div class="card shadow">
                <div class="card-img-top">
                    <i-feather name="circle" class="boundary"></i-feather>
                    <i-feather name="truck" class="icons"></i-feather>
                </div>
                <div class="card-body text-center">
                    <p class="card-title h4">Transport Service</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto col-md-4 my-5">
            <div class="card shadow">
                <div class="card-img-top">
                    <i-feather name="circle" class="boundary"></i-feather>
                    <i-feather name="package" class="icons"></i-feather>
                </div>
                <div class="card-body text-center">
                    <p class="card-title h4">Warehousing Service</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>