<div class="container-fluid pt-3">
    <div class="container d-flex flex-column justify-content-center h-100">
        <div>
            <div class="col-12 col-md-6 mx-auto text-center my-3">
                <p class="h3">Get a quote from us Instantly!</p>
            </div>
        </div>
        <div>
            <div class="col-12">
                <form>
                    <div class="row">
                        <div class="col-8 col-md-3 mx-auto mx-md-0 my-2">
                            <input type="email" class="form-control shadow" placeholder="Enter Email">
                        </div>
                        <div class="col-8 col-md-3 mx-auto mx-md-0 my-2">
                            <input type="text" class="form-control shadow" placeholder="Enter Source">
                        </div>
                        <div class="col-8 col-md-3 mx-auto mx-md-0 my-2">
                            <input type="text" class="form-control shadow" placeholder="Enter Destination">
                        </div>
                        <div class="col-8 col-md-3 mx-auto mx-md-0 my-2">
                            <select class="custom-select shadow">
                                <option selected disabled>Select Container Size</option>
                                <option value=1>Full</option>
                                <option value=2>Half</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 mb-5 mb-md-0">
                        <div class="col-8 col-md-3 mx-auto text-center">
                            <button class="btn btn-custom shadow" type="submit">Submit form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>