<div class="container-fluid d-flex flex-column align-items-center justify-content-end">
    <div class="text-white info-box mb-5 pt-3 px-2 text-center rounded shadow-lg">
        <div class="row">
            <div class="col">
                <p class="h1">Welcome to ADS-Cargo</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus placerat purus, at consequat augue posuere et. Donec id ante magna. Morbi eget libero diam. Mauris id est eu libero egestas consequat. Phasellus bibendum sed augue id auctor. Suspendisse potenti.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i data-feather="chevron-down"></i>
            </div>
        </div>
    </div>
</div>